.footer {
	padding: 80px 0;
	background: #181818;
	color: var(--text-white);

	a {
		color: var(--text-white);
	}
}

.footer__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	gap: 128px;
}

.footer__copyright {
	display: grid;
	gap: 24px;
}

.footer__copyright-text {
	max-width: 300px;
}

.footer__nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	gap: 40px;
}
